apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: smap-analytics-models
  namespace: smap
  labels:
    app: smap-analytics
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
